* {
  box-sizing: border-box;
  font-family: $font-family-Montserrat;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container-index {
  @apply flex flex-col md:flex-row justify-between container mx-auto;
}

.divNavbar, .divFooter {
  @apply flex items-center justify-between container mx-auto h-full px-4;
}