<header class="fixed top-0 left-0 w-full h-16 bg-white">
    <nav class="divNavbar">
        <div class="logo text-4xl">
            <a href="./index.html" class="logo nav-link">
                <span class="font-open-sans font-bold text-gray-900">Chess</span>
                <span class="font-roboto font-bold uppercase text-colorLogo">Fun</span>
            </a>
        </div>
        <ul class="flex items-center">
            <li class="px-4">
                <a href="./index.html">Inicio</a>
            </li>
            <li class="px-4">
                <a href="./members.html">Miembros</a>
            </li>
        </ul>
    </nav>
</header>
