<div class="members-container">
    <div class="flex flex-wrap justify-center">
        <include
            src="./views/member_card.html"
            locals='{"name": "Lucas Fernández", "description": "Siempre he sentido interés por los deportes y los juegos de lógica como el ajedrez", "image": "./assets/images/person1.jpg"}'
        ></include>
        <include
            src="./views/member_card.html"
            locals='{"name": "Jamie Curty", "description": "Me encantan los casos de misterio, resolver enigmas pero sobre todo, jugar al ajedrez", "image": "./assets/images/person2.jpg"}'
        ></include>
        <include
            src="./views/member_card.html"
            locals='{"name": "Julia Chan", "description": " Cuando me uní al club no sabía nada pero he aprendido mucho en poco tiempo", "image": "./assets/images/person3.jpg"}'
        ></include>
        <include
            src="./views/member_card.html"
            locals='{"name": "David Meis", "description": "He competido en campeonatos locales y deseo ascender de categoría", "image": "./assets/images/person4.jpg"}'
        ></include>
        <include
            src="./views/member_card.html"
            locals='{"name": "Jose Martínez", "description": "En el ajedrez encuentro un desafío mental y una superación constante", "image": "./assets/images/person5.jpg"}'
        ></include>
        <include
            src="./views/member_card.html"
            locals='{"name": "Andrea García", "description": " Me encanta disfrutar del ajedrez en mis días libres del trabajo junto a mis amigas", "image": "./assets/images/person6.jpg"}'
        ></include>
    </div>
</div>
